*{
    font-family:'Courier New', Courier, monospace;
}

.title{
    text-align: center;
}

.author{
    text-align: center;
    margin: 0px;
}

.intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
}

p {
    font-size: 20px;
    text-indent: 50px;
}

.sub-author{
    margin: 0px;
}

.cgp-grey{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 200px;
}

.cgp-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px;
}

.citation{
    font-size: 12px;
    text-align: left;
}